@font-face {
    font-family: 'ArcherPro';
    font-weight: bold;
    src: url("../fonts/ArcherPro-Bold.otf") format('opentype');
}
*{
    font-family: 'ArcherPro';
}


@media(min-width: 100px){
    .bg-light {
        background: rgb(228, 125, 60) !important;
    }
    ul li a {
        background: rgb(228, 125, 60) !important;
        color: white !important;
    }
    ul li a:hover {
        background: rgb(228, 125, 60) !important;
        color: yellow !important;
    }
    .dropdown-menu {
        background: rgb(228, 125, 60) !important;
        border: none;
    }
    footer {
        width: 100%;
        height: 400px;
        background: url('../img/inicio-home/bloopers-footer.png') top center;
        background-size: cover;
        position: relative;
        -webkit-filter: none;
        filter: none;
    }
    .footer-copyright{
        margin-top: 50px;
    }
}
@media(min-width:280px){
    .bg-light {
        background: rgb(228, 125, 60) !important;
    }
    ul li a {
        background: rgb(228, 125, 60) !important;
        color: white !important;
    }
    ul li a:hover {
        background: rgb(228, 125, 60) !important;
        color: yellow !important;
    }
    .dropdown-menu {
        background: rgb(228, 125, 60) !important;
        border: none;
    }
    footer {
        width: 100%;
        height: 400px;
        background: url('../img/inicio-home/bloopers-footer.png') top center;
        background-size: cover;
        position: relative;
        -webkit-filter: none;
        filter: none;
    }
    .footer-copyright{
        margin-top: 50px;
    }
}
@media(min-width: 360px){
    .bg-light {
        background: rgb(228, 125, 60) !important;
    }
    ul li a {
        background: rgb(228, 125, 60) !important;
        color: white !important;
    }
    ul li a:hover {
        background: rgb(228, 125, 60) !important;
        color: yellow !important;
    }
    .dropdown-menu {
        background: rgb(228, 125, 60) !important;
        border: none;
    }
    footer {
        width: 100%;
        height: 200px;
        background: url('../img/inicio-home/bloopers-footer.png') top center;
        background-size: cover;
        position: relative;
        -webkit-filter: none;
        filter: none;
    }
    .footer-copyright{
        margin-top: 0px;
    }
}
@media(min-width: 400px){
    .bg-light {
        background: rgb(228, 125, 60) !important;
    }
    ul li a {
        background: rgb(228, 125, 60) !important;
        color: white !important;
    }
    ul li a:hover {
        background: rgb(228, 125, 60) !important;
        color: yellow !important;
    }
    .dropdown-menu {
        background: rgb(228, 125, 60) !important;
        border: none;
    }
    footer {
        width: 100%;
        height: 250px;
        background: url('../img/inicio-home/bloopers-footer.png') top center;
        background-size: cover;
        position: relative;
        -webkit-filter: none;
        filter: none;
    }
    .footer-copyright{
        margin-top: 50px;
    }
}
@media(min-width: 540px){
    .bg-light {
        background: rgb(228, 125, 60) !important;
    }
    ul li a {
        background: rgb(228, 125, 60) !important;
        color: white !important;
    }
    ul li a:hover {
        background: rgb(228, 125, 60) !important;
        color: yellow !important;
    }
    .dropdown-menu {
        background: rgb(228, 125, 60) !important;
        border: none;
    }
    footer {
        width: 100%;
        height: 300px;
        background: url('../img/inicio-home/bloopers-footer.png') top center;
        background-size: cover;
        position: relative;
        -webkit-filter: none;
        filter: none;
    }
    .footer-copyright{
        margin-top: 100px;
    }
}
@media(min-width: 600px){
    .bg-light {
        background: rgb(228, 125, 60) !important;
    }
    ul li a {
        background: rgb(228, 125, 60) !important;
        color: white !important;
    }
    ul li a:hover {
        background: rgb(228, 125, 60) !important;
        color: yellow !important;
    }
    .dropdown-menu {
        background: rgb(228, 125, 60) !important;
        border: none;
    }
    footer {
        width: 100%;
        height: 430px;
        background: url('../img/inicio-home/bloopers-footer.png') top center;
        background-size: cover;
        position: relative;
        -webkit-filter: none;
        filter: none;
    }
    .footer-copyright{
        margin-top: 150px;
        font-size: 40px;
    }
}
@media(min-width: 700px){
    .bg-light {
        background: rgb(228, 125, 60) !important;
    }
    ul li a {
        background: rgb(228, 125, 60) !important;
        color: white !important;
    }
    ul li a:hover {
        background: rgb(228, 125, 60) !important;
        color: yellow !important;
    }
    .dropdown-menu {
        background: rgb(228, 125, 60) !important;
        border: none;
    }
    footer {
        width: 100%;
        height: 500px;
        background: url('../img/inicio-home/bloopers-footer.png') top center;
        background-size: cover;
        position: relative;
        -webkit-filter: none;
        filter: none;
    }
    .footer-copyright{
        margin-top: 200px;
        font-size: 50px;
    }
}
@media (min-width: 1024px){
    .bg-light {
        background: rgb(228, 125, 60) !important;
    }
    ul li a {
        background: rgb(228, 125, 60) !important;
        color: white !important;
    }
    ul li a:hover {
        background: rgb(228, 125, 60) !important;
        color: yellow !important;
    }
    .dropdown-menu {
        background: rgb(228, 125, 60) !important;
        border: none;
    }
    footer {
        width: 100%;
        height: 1000px;
        background: url('../img/inicio-home/bloopers-footer.png') top center;
        background-size: cover;
        position: relative;
        -webkit-filter: none;
        filter: none;
    }
    .footer-copyright{
        margin-top: 450px;
        font-size: 50px;
    }
}
@media (min-width: 1200px){
    .bg-light {
        background: rgb(228, 125, 60) !important;
    }
    ul li a {
        background: rgb(228, 125, 60) !important;
        color: white !important;
    }
    ul li a:hover {
        background: rgb(228, 125, 60) !important;
        color: yellow !important;
    }
    .dropdown-menu {
        background: rgb(228, 125, 60) !important;
        border: none;
    }
    footer {
        width: 100%;
        height: 800px;
        background: url('../img/inicio-home/bloopers-footer.png') top center;
        background-size: cover;
        position: relative;
        -webkit-filter: none;
        filter: none;
    }
    .footer-copyright{
        margin-top: 450px;
        font-size: 50px;
    }
}
@media(min-width: 1300px){
    .bg-light {
        background: rgb(228, 125, 60) !important;
    }
    ul li a {
        background: rgb(228, 125, 60) !important;
        color: white !important;
    }
    ul li a:hover {
        background: rgb(228, 125, 60) !important;
        color: yellow !important;
    }
    .dropdown-menu {
        background: rgb(228, 125, 60) !important;
        border: none;
    }
    footer {
        width: 100%;
        height: 800px;
        background: url('../img/inicio-home/bloopers-footer.png') top center;
        background-size: cover;
        position: relative;
        -webkit-filter: none;
        filter: none;
    }
    .footer-copyright{
        margin-top: 450px;
        font-size: 50px;
    }
}

